.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 3rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";

  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  border-bottom-style: solid;
}

.avatar-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 4rem;
  border-bottom: solid 1px;
  display: flex;
}

.bubble-text {
  color: rgb(43, 43, 43);
  text-align: center;
  font-size: 2.3rem;
  line-height: 8rem;
}

#talkbubble {
  opacity: 0;
  width: 12rem;
  height: 8rem;
  background: rgb(189, 189, 189);
  position: relative;
  top: -4rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
}

#talkbubble:before {
  content: "";
  position: absolute;
  right: 9.5rem;
  top: 7rem;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid rgb(189, 189, 189);
  border-bottom: 13px solid transparent;
  transform: rotate(-60deg);
}

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

.carousel {
  opacity: 0;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  color: rgb(43, 43, 43);
  border-radius: 2rem;
  overflow: hidden;
  min-height: 20rem;
  height: 25rem;
}

.carousel-item {
  width: 100%;
  height: 80%;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(168, 165, 165);
  font-size: 2rem;
  border-radius: 2rem;
  position: relative;
}

.carousel p {
  margin: 0;
  text-align: center;
}

.title {
  opacity: 0;
  font-size: 3rem;
  text-align: center;
}

@keyframes up-down {
  0% {
    position: relative;
    top: -40px;
  }
  50% {
    position: relative;
    top: 20px;
  }
  100% {
    position: relative;
    top: 0;
  }
}

.animate-up-down {
  animation-name: up-down;
  animation-duration: 2s;
}

@keyframes bubble-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bubble-fade {
  animation-name: bubble-fade;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
