.code-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.code-card {
  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 25rem;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 1rem;
  padding: 1rem;
  justify-content: space-between;
  margin: 1rem;
}

.code-card-title {
  font-size: 2rem;
}

.code-card-description {
  margin-top: 2rem;
  font-size: 1.4rem;
}

.code-card-metrics {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.4rem;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

@keyframes appear {
  0% {
    height: 0rem;
    opacity: 0;
  }
  70% {
    height: 18rem;
    opacity: 1;
  }
  100% {
    height: 15rem;
    opacity: 1;
  }
}

.animate-appear:nth-child(5n) {
  animation-name: appear;
  animation-duration: 3s;
}

.animate-appear:nth-child(5n + 4) {
  animation-name: appear;
  animation-duration: 2.5s;
}

.animate-appear:nth-child(5n + 3) {
  animation-name: appear;
  animation-duration: 2s;
}

.animate-appear:nth-child(5n + 2) {
  animation-name: appear;
  animation-duration: 1.5s;
}

.animate-appear:nth-child(5n + 1) {
  animation-name: appear;
  animation-duration: 1s;
}
