.code-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.code-card {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  justify-content: space-between;
  margin: 10px;
}

.code-card-title {
  font-size: 1.5rem;
}

.code-card-description {
  margin-top: 20px;
}

.code-card-metrics {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
}
