html,
body {
  background-color: rgb(43, 43, 43);
  color: rgb(189, 189, 189);
  margin: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  min-width: 300px;
}

.nav {
  position: fixed;
  background-color: rgb(43, 43, 43);
  top: 0;
  /*border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(189, 189, 189);*/
  height: 4rem;
  padding: 1rem;
  display: flex;
  font-size: 2.2rem;
  width: 100%;
}

.nav .nav-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}

a {
  color: rgb(183, 214, 255);
}

.nav-item a {
  text-decoration: none;
  color: rgb(189, 189, 189);
  padding: 0.5rem;
}

.navigation-menu a {
  text-decoration: none;
  color: rgb(189, 189, 189);
  padding: 0.5rem;
}

a:hover {
  border-bottom-style: solid;
  border-width: 0.1rem;
}

.nav .nav-item a.active {
  border-bottom-style: solid;
  border-width: 0.1rem;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem;
  margin-top: 8.0rem;
}

.article-card {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 1rem;
  max-width: 70%;
  padding: 1.5rem;
  margin-top: 1.5rem;
}

.article-card-header {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 1rem;
}

.article-card-header-text {
  font-size: 2.5rem;
}

.article-card-header-topics {
  display: flex;
}

.article-card-content {
  font-size: 1.4rem;
  margin: 1rem;
  max-height: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.article-card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.article-date {
  border-top-style: solid;
  border-width: 0.1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.badge {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: rgb(189, 189, 189);
  color: rgb(43, 43, 43);
  font-size: 1.2rem;
  margin: 0.2rem;
}

.article-header {
  font-size: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: flex-start;
  width: 100%;
  border-bottom: solid 0.1rem;
}

.article-header .article-card-header-text {
  text-align: center;
  font-size: 3.5rem;
}

.article-container {
  display: flex;
  width: 100%;
}

.navigation-menu {
  top: 9.3rem;
  position: fixed;
  border-style: solid;
  border-width: 0.1rem;
  display: none;
  font-size: 1.4rem;
  border-radius: 1rem;
}

.navigation-menu h2 {
  padding-left: 2rem;
  margin-top: 1rem;
}

.navigation-menu ul {
  list-style: upper-roman;
}

.navigation-menu ul li {
  margin-top: 1rem;
  cursor: pointer;
}

.article-content {
  font-size: 1.6rem;
  padding: 1.5rem;
  line-height: 3rem;
}

@media screen and (min-width: 1000px) {
  .navigation-menu {
    display: block;
    width: 25%;
  }

  .article-content {
    margin-left: 28%;
  }
  .article-header {
    width: calc(100% - 28%);
    margin-left: 28%;
  }
}

.anchor {
  display: block;
  position: relative;
  top: -8rem;
  visibility: hidden;
}

@keyframes show-from-left {
  0% {
    position: relative;
    left: -100%;
  }
  50% {
    position: relative;
    left: 5rem;
  }
  100% {
    position: relative;
    left: 0rem;
  }
}

.animate:nth-child(2n + 1) {
  animation-name: show-from-left;
  animation-duration: 2s;
}

.animate:nth-child(2n) {
  animation-name: show-from-left;
  animation-duration: 3s;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.alert {
  display: flex;
  gap: 0.5rem;
  color: rgb(230, 97, 97);
  font-size: 10px;
  align-items: center;
}

@keyframes fade-in {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
