.buffer-overflow-image {
  background-image: url('../../../assets/Profile.svg');
  background-size: cover;
}

.blog-entry {
  width: 80%;
  max-width: 900px;
  margin: 10px;
}

mat-card-title {
  font-size: 30px !important;
}

button {
  background-color: #b0bec5;
}
