<div fxLayout="column" class="body-wrapper">
  <a name="aboutme" class="anchor"></a>
  <mat-card fxLayout="column">
    <mat-card-title>SOBRE MI</mat-card-title>
    <mat-card-content>
      Graduado en Ingeniería Informática en la USC y desarrollador de software en Imatia
      Innovation con 2 años de experiencia. Con interés por la Seguridad Informática, por lo
      que actualmente compagino un máster en la UNIR con mi trabajo. Me apasiona la parte creativa
      del desarrollo de software y, en lo que se refiere a Seguridad Informática, me interesa el
      tema de Pentesting y Hacking Ético. En general, diría que me gusta trastear con todo lo que
      puedo.
    </mat-card-content>
  </mat-card>
  <a name="experience" class="anchor"></a>
  <mat-card fxLayout="column">
    <mat-card-title>EXPERIENCIA LABORAL</mat-card-title>
    <mat-card-subtitle>
      <strong>Técnico superior de apoyo a la investigación</strong>
    </mat-card-subtitle>
    <mat-card-subtitle>
      01/10/2018 – 31/12/2018 | Santiago de Compostela (CiTIUS)
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        Continuación de servicio web <a href="https://demos.citius.usc.es/ExpliClas/">ExpliClas</a>,
        trabajo presentado como proyecto de fin de grado y parte del proyecto de
        investigación <a
        href="https://citius.usc.es/investigacion/proxectos/listado/disenando-sistemas-inteligentes-explicables-interaccionan-personas-generanexpli">eXplica-IA</a>.
        Realicé actividades de:
      </p>
      <ul>
        <li>Desarrollo de servicios web (Jersey)</li>
        <li>Desarrollo de front (ReactJS)</li>
        <li>Contacto con algoritmos de clasificación basados en Machine Learning</li>
        <li>Contacto con tecnologías de generación de lenguaje natural (NLG)</li>
      </ul>
      <mat-divider></mat-divider>
      <mat-card-subtitle style="margin-top: 30px"><strong>Desarrollador full-stack</strong>
      </mat-card-subtitle>
      <mat-card-subtitle>
        07/01/2019 – Actualidad | A Coruña (Imatia Innovation S.L.)
      </mat-card-subtitle>
      <p>
        Incorporación en proyecto para cliente alemán Arvato Systems. Entre las tareas
        realizadas están:
      </p>
      <ul>
        <li>Desarrollo servicios backend. (Spring Boot)</li>
        <li>Desarrollo de front (Angular)</li>
        <li>Pequeñas tareas de análisis y arquitectura</li>
      </ul>
      <p>
        Otras tecnologías y competencias:
      </p>
      <ul>
        <li>Trabajo en equipo usando metodologías ágiles (Scrum)</li>
        <li>Docker</li>
        <li>Kubernetes</li>
        <li>Desempeño del trabajo en inglés</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <a name="studies" class="anchor"></a>
  <mat-card fxLayout="column">
    <mat-card-title>EDUCACIÓN Y FORMACIÓN</mat-card-title>
    <mat-card-subtitle>
      <strong>Grado en Ingeniería Informática</strong>
    </mat-card-subtitle>
    <mat-card-subtitle>
      09/2014 – 07/2018 – Santiago de Compostela, España
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        <a href="https://www.usc.gal">Universidad de Santiago de Compostela</a>
      </p>
      <mat-divider></mat-divider>
      <mat-card-subtitle style="margin-top: 30px">
        <strong>Máster en Seguridad Informática</strong>
      </mat-card-subtitle>
      <mat-card-subtitle>
        11/2019 – Actualidad – Logroño, España
      </mat-card-subtitle>
      <p>
        <a href="https://www.unir.net">Universidad Internacional de La Rioja</a>
      </p>
    </mat-card-content>
  </mat-card>
  <a name="langs" class="anchor"></a>
  <mat-card fxLayout="column">
    <mat-card-title>COMPETENCIAS DE IDIOMAS</mat-card-title>
    <mat-card-content>
      <p><strong>LENGUA(S) MATERNA(S):</strong> gallego | español</p>
      <mat-divider></mat-divider>
      <p style="margin-top: 30px"><strong>OTROS IDIOMAS:</strong>
        <mat-list>
          <mat-list-item><strong>inglés</strong> - Nivel B1</mat-list-item>
        </mat-list>
      </p>
    </mat-card-content>
  </mat-card>
</div>
