.body-wrapper {
  padding: 20px;
}

mat-card-title {
  padding-bottom: 10px;
}

mat-card-subtitle {
  font-size: 16px;
}

mat-card {
  margin: 10px;
  padding: 20px;
}

mat-card-content {
  font-size: 16px;
}

ul {
  margin-top: 0;
}
