<mat-card>
  <mat-card-header>
    <mat-card-title>{{currentArticle.title}}</mat-card-title>
    <div fxFlex></div>
    <button routerLink="/blog" mat-mini-fab>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content style="margin: 20px">
    <ul *ngFor="let content of contentTable">
      <li
        [ngClass]="{'content-header': content.level === 2, 'content-subheader': content.level === 3 }">
        <a routerLink="." fragment="{{content.anchor}}">{{content.title}}</a>
      </li>
    </ul>
    <div class="article-divider">
      <mat-divider></mat-divider>
    </div>
    <markdown [src]="currentArticle.content" class="paragraph-content"></markdown>
  </mat-card-content>
</mat-card>
