<mat-toolbar style="position: fixed; background-color: #b0bec5; z-index: 1">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="blog" mat-menu-item>
      <mat-icon>article</mat-icon>
      <span>Blog</span>
    </button>
    <button routerLink="cv" mat-menu-item>
      <mat-icon>work</mat-icon>
      <span>Curriculum</span>
    </button>
  </mat-menu>
  <span>brunoLPZ</span>
</mat-toolbar>
<div class="content-padding">
  <router-outlet></router-outlet>
</div>
