<mat-card fxLayout="column" fxLayoutAlign="center" class="contact-data-wrapper">
  <div class="profile-wrapper">
    <img src="assets/Profile.svg" class="rounded-image">
  </div>
  <div class="base-data">
    <div class="full-name">Bruno López Trigo</div>
    <div class="date-title">FECHA DE NACIMIENTO:</div>
    <p>17/08/1996</p>
  </div>
  <div fxFlex class="further-data" fxLayout="column">
    <div fxLayout="row">
      <div fxFlex="20"></div>
      <div fxFlex="80"><p><strong>Nacionalidad:</strong> Española</p></div>
    </div>
    <div fxLayout="row">
      <div fxFlex="20"></div>
      <div fxFlex="80"><p><strong>Sexo</strong>: Masculino</p></div>
    </div>
    <div fxLayout="row">
      <div fxFlex="20" fxLayoutAlign="center center">
        <mat-icon>location_on</mat-icon>
      </div>
      <div fxFlex="80">
        <p>Plaza Comercio, 8, 4º D</p>
        <p>15010 A Coruña, España</p>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="20" fxLayoutAlign="center center">
        <mat-icon>mail</mat-icon>
      </div>
      <div fxFlex="80">
        <p><a href="mailto:bruno.lopez.trigo@gmail.com">bruno.lopez.trigo@gmail.com</a></p>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="20" fxLayoutAlign="center center">
        <mat-icon>code</mat-icon>
      </div>
      <div fxFlex="80">
        <p><a href="https://github.com/brunoLPZ/">Github</a></p>
      </div>
    </div>
  </div>
</mat-card>
