<div fxLayout="column" fxLayoutAlign="center center">
  <div class="blog-title">"Cacharreando" y aprendiendo</div>
  <app-entry fxFill fxLayoutAlign="center" title="Aprendiendo sobre Buffer Overflow"
             summary="Entrada en la que pretendo documentar lo aprendido hasta ahora sobre este
                      tipo de vulnerabilidades. Tratando desde los conceptos base para comprender
                      en qué consiste un buffer overflow y la explotación de un ejemplo sencillo
                      de dicha vulnerabilidad.">
  </app-entry>
</div>
